.login-page {
  text-align: center;
  .login-form {
    label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    input {
      width: 250px;
      height: 25px;
      margin-top: 10px;
    }
    button {
      margin: 10px 5px 0px 0px;
      padding: 5px 10px;
    }
  }
}